/* css reset */
* {
	Box-sizing: border-box;
	Padding: 0;
	Margin: 0;
}

/* wrapper */

.wrapper {
    background: beige;
    height: 100vh;
    width: 100vw;
}

/* score area */

.score-area {
    align-items: center;
    background-color: blue;
    padding-top: 10px;
    text-align: center;
}

.computer-score {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* game area */

.game-area {
    background-color: yellow;
    padding-top: 10px;
    text-align: center;
}

.choice {
    padding-top: 20px;
}

.choice > img {
    height: 100px;
    width: 100px;
}


/* media quieries */

@media screen and (min-width:630px) {
    .score-area {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    
    .game-area {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    
    .choice > img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (min-width:900px) {
    .score-area {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
    
    .game-area {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
    }
    
    .choice > img {
        height: 200px;
        width: 200px;
    }
}